.content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    background-color: #f8e8e8;
    height: inherit;
}

.opening-line {
    justify-self: center;
    font-size: 1.0rem;
    line-height: 1.2rem;
    text-align: center;
    font-weight: bold;
    max-width: 1440px;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.image-panel {
    position: relative;
    width: 324px;
    height: 170px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 6px 5px rgba(60, 60, 60, 0.3);
}

.quote-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
}

.quote-panel {
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 270px;
    width: 300px;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 6px 5px rgba(60, 60, 60, 0.3);
    padding: 12px;
}

.quote-panel .quote-panel-quote {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.quote-panel .quote-panel-author {
    font-size: 0.9rem;
    text-align: end;
}