/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&family=Staatliches&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --righteous-font-family: Righteous, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

.header {
    display: "grid";
    grid-template-areas: repeat(2, auto) / 1fr;
    font-family: var(--righteous-font-family);
    background-color: rgb(230, 6, 6);
    box-shadow: 6px 6px 5px rgba(60, 60, 60, 0.3);
    padding: 20px;
}

.header .company-name {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}