/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&family=Staatliches&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --righteous-font-family: Righteous, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

#page { 
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: inherit;
    height: 100vh;
}

.header {
    grid-area: 1 / 1 / 2 / -1;
    font-family: var(--righteous-font-family);
    background-color: rgb(230, 6, 6);
    padding: 20px;
}

.header .company-name {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-size: 1.8rem;
    white-space: nowrap;
    color: white;
}

.header .navigation-bar {
    grid-area: 2 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
    padding-top: 30px;
}

.header .navigation-bar button {
    flex-shrink: 0;
    width: 6rem;
    height: 1.6rem;
    border-radius: 9999px;
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    border: none;
    background-color: rgb(245, 245, 245);
}
.header .navigation-bar button:hover {
    outline: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.header .navigation-bar button:active {
    background-color: rgb(221, 221, 221);
}
.header .navigation-bar button.current {
    background-color: rgb(253, 185, 36);
}